//- tasks.pug
extends partials/layout.pug

mixin addTaskModal
  .add-modal(id="add-task-modal")
    .add-modal-content
      span(class="close" id='add-task-modal-close-btn') &times;
      .mdc-text-field.mdc-text-field--box
        input(type='text' id='new-task-content' name='task_content' class='mdc-field__input' placeholder='New Task Goes Here')
      .mdc-text-field.mdc-text-field--box
        input(type='text' id='new-task-time' name='task_time' class='mdc-field__input' placeholder='Time')
      button(class='mdc-button mdc-button--raised modal-btn' id='add-task-modal-submit-btn') Add Task

mixin deleteTaskModal
  .delete-modal(id='delete-task-modal')
    .delete-modal-content
      span(class='close' id='delete-task-modal-close-btn') &times;
      p Are you sure you want to delete the task?
      button(class='mdc-button mdc-button--raised modal-btn' id='delete-task-modal-confirm-btn') Yes, Delete This Task

mixin editTaskModal
  .edit-modal(id='edit-task-modal')
    .edit-modal-content
      span(class='close' id='edit-task-modal-close-btn') &times;
      .mdc-text-field.mdc-text-field--box
        input(type='text' id='edit-task-content' name='task_content' class='mdc-field__input')
      .mdc-text-field.mdc-text-field--box
        input(type='text' id='edit-task-time' name='task_time' class='mdc-field__input')
      button(class='mdc-button mdc-button--raised modal-btn' id='edit-task-modal-submit-btn') Edit Task

mixin mdcSwitch
  .mdc-switch.list-switch
    input(type='checkbox' class='mdc-switch__native-control')
    .mdc-switch__background
      .mdc-switch__knob

mixin listElement(task)
  li(class='mdc-list-item mdc-elevation--z4 task-item' data-internal-id=task.task_id)
    +mdcSwitch
    span(class='list-content')= task.task_content
    span(class='list-time')= task.task_time
    span(class='list-btn-container')
      button(class="mdc-button mdc-button--raised edit-task-btn") Edit
      button(class="mdc-button mdc-button--raised delete-task-btn") Delete

block header
  header(class='mdc-toolbar mdc-toolbar--fixed')
    section(class='mdc-toolbar__section mdc-toolbar__section--align-center')
      span(class='mdc-toolbar__title') Todo List

block content
  .mdc-layout-grid.mdc-toolbar-fixed-adjust
    .mdc-layout-grid__cell
      .mdc-layout-grid_inner.list-container
        ul(class='mdc-list' id='task-list')
          for task in tasksArray
            +listElement(task)
    button(class='mdc-fab material-icons' id='btn-add-task' aria-label='Add Task')
      span(class='mdc-fab__icon') add

block modals
  +addTaskModal
  +deleteTaskModal
  +editTaskModal
block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='script.js')
